{% extends 'uon/base.html' %}
{% load staticfiles %}

{% block content %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Contact Page</h1>

            <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2 class="section-title">Send Message</h2>

                    <p>Lorem ipsum Ex aliqua tempor nisi laboris dolor id laborum irure minim tempor in sit dolore amet
                        sit esse nostrud tempor nulla consequat aute in nostrud laboris sint ullamco amet nisi pariatur
                        officia nulla pariatur in id et labore dolore ad sit.</p>

                    <form role="form">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="email" class="form-control" id="InputName">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" id="InputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="InputMessage">Mesagge</label>
                            <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>

            <div class="col-md-4">
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-envelope-o"></i> Additional Information</div>
                        <div class="panel-body">
                            <h4 class="section-title">Contacts</h4>
                            <address>
                                <strong>UonAfya INc</strong><br>
                                Chiromo, Riverside Drive<br>
                                Nairobi, Kenya<br>
                                <abbr title="Phone">P:</abbr> 1234567 <br>
                                Mail: <a href="#">support@ourname.com</a>
                            </address>

                            <!-- Business Hours -->
                            <h4 class="section-title">Business Hours</h4>
                            <ul class="list-unstyled">
                                <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
                                <li><strong>Saturday:</strong> 9am to 2pm</li>
                                <li><strong>Sunday:</strong> Closed</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section>
            <div class="well well-sm">
                <iframe width="100%" height="350"
                        src="http://maps.google.com/maps?q=@-1.273265,36.807116&ie=UTF8&output=embed"></iframe>
            </div>
        </section>
    </div> <!-- container -->
{% endblock content %}