{% extends 'uon/base.html' %}
{% load staticfiles %}

{% block content %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Demos</h1>

            <ol class="breadcrumb hidden-xs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Resources</a></li>
                <li class="active">Demos</li>
            </ol>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <section>
                <div class="col-xs-12">
                    <p>
                        We have worked on several projects and below are some of them to view
                    </p>
                </div>
            </section>
            <div class="col-md-8">
                <h2 class="section-title">List of Demo Resources</h2>

                <div class="panel-group" id="accordion1">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                   href="#collapseOne1">
                                    DHIS2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                DHIS 2 is the flexible, web-based open-source information system with awesome
                                visualization features including GIS, charts and pivot tables.
                                Explore this tool here:

                                    <h4><i class="fa fa-arrow-right"></i><a target="_blank" href="http://test.hiskenya.org" style="color: indianred">DHIS KENYA (Test Site): test.hiskenya.org</a></h4>
                                            <dl class="dl-horizontal">
                                                <dt>Username:</dt>
                                                <dd>Admin</dd>
                                                <dt>Password:</dt>
                                                <dd>District</dd>

                                            </dl>

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#collapseTwo1">
                                    JPRP
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                            <div class="panel-body">
                                JPRP is a reporting tool for partner to ..........

                                    <h4><i class="fa fa-arrow-right"></i><a target="_blank" href="#" style="color: indianred">Joint Partner Reporting Portal</a></h4>
{#                                            <dl class="dl-horizontal">#}
{#                                                <dt>Username:</dt>#}
{#                                                <dd>Admin</dd>#}
{#                                                <dt>Password:</dt>#}
{#                                                <dd>District</dd>#}
{##}
{#                                            </dl>#}

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#collapseThree1">
                                    Master Facility List v2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Kenya Master Facility and Community Units Database is a Ministry of Health
                                initiative to avail an online platform for the public to query and locate health
                                facilities and their corresponding community health units in Kenya

                                    <h4><i class="fa fa-arrow-right"></i><a target="_blank" href="https://mfl-public.slade360.co.ke/" style="color: indianred">MFL v2 Test Site</a></h4>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel-group -->
            </div>
            <!-- col-md-8 -->
            <div class="col-md-4">
                <h2 class="section-title">Any Feedback?</h2>

                <form role="form">
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="email" class="form-control" id="InputName" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="InputText">Feedback</label>
                        <textarea id="InputText" class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Send feedback</button>
                </form>
            </div>
        </div>
        <!-- row -->
    </div> <!-- container -->
{% endblock %}