{% extends 'uon/base.html' %}
{% load staticfiles %}

{% block content %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Services</h1>

            <ol class="breadcrumb hidden-xs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ol>
        </div>
    </header>

    <div class="container">
        <section class="services">
            <div class="row">
            </div> <!-- row -->
            <div class="row">
{#                <div class="row">#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box">#}
{#                                                <i class="fa fa-cloud-download"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box icon-box-inverse">#}
{#                                                <i class="fa fa-eye"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box icon-box-success">#}
{#                                                <i class="fa fa-shopping-cart"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box icon-box-info">#}
{#                                                <i class="fa fa-suitcase"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box icon-box-warning">#}
{#                                                <i class="fa fa-star"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="icon-box icon-box-danger">#}
{#                                                <i class="fa fa-trophy"></i>#}
{#                                                <div class="icon-box-content">#}
{#                                                    <h4>Lorem ipsum dolor sit</h4>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                <section class="service-item">
                    <div class="col-md-6">
                        <h2>Cloud Infrastructure</h2>
                        <p>Lorem ipsum Dolor id ut dolor cupidatat in aliqua ad laborum commodo aliquip in ut aliqua pariatur ea sit pariatur veniam do. Lorem ipsum In quis ut qui ea sed id id anim enim veniam ullamco irure velit ut cillum.</p>
                        <p>Lorem ipsum Magna aliqua id fugiat Duis veniam sit ad ut incididunt labore magna labore eu in dolor fugiat sunt deserunt sint eiusmod magna veniam. Lorem ipsum Ad enim occaecat minim occaecat.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item-icon hidden-xs text-center">
                            <i class="fa fa-15x fa-cloud"></i>
                        </div>
                    </div>
                </section> <!-- service-item -->
            </div> <!-- row -->
            <div class="row">
                <section class="service-item">
                    <div class="col-md-6 col-md-push-6">
                        <h2>Web Application Development</h2>
                        <p>Lorem ipsum Dolor id ut dolor cupidatat in aliqua ad laborum commodo aliquip in ut aliqua pariatur ea sit pariatur veniam do. Lorem ipsum In quis ut qui ea sed id id anim enim veniam ullamco irure velit ut cillum.</p>
                        <p>Lorem ipsum Magna aliqua id fugiat Duis veniam sit ad ut incididunt labore magna labore eu in dolor fugiat sunt deserunt sint eiusmod magna veniam. Lorem ipsum Ad enim occaecat minim occaecat.</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="service-item-icon hidden-xs text-center">
                            <i class="fa fa-15x fa-html5"></i>
                        </div>
                    </div>
                </section> <!-- service-item -->
            </div> <!-- row -->
            <div class="row">
                <section class="service-item">
                    <div class="col-md-6">
                        <h2>Server Hosting</h2>
                        <p>Lorem ipsum Dolor id ut dolor cupidatat in aliqua ad laborum commodo aliquip in ut aliqua pariatur ea sit pariatur veniam do. Lorem ipsum In quis ut qui ea sed id id anim enim veniam ullamco irure velit ut cillum.</p>
                        <p>Lorem ipsum Magna aliqua id fugiat Duis veniam sit ad ut incididunt labore magna labore eu in dolor fugiat sunt deserunt sint eiusmod magna veniam. Lorem ipsum Ad enim occaecat minim occaecat.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item-icon hidden-xs text-center">
                            <i class="fa fa-15x fa-dropbox"></i>
                        </div>
                    </div>
                </section> <!-- service-item -->
            </div> <!-- row -->
            <div class="row">
                <section class="service-item">
                    <div class="col-md-6 col-md-push-6">
                        <h2>Training</h2>
                        <p>Lorem ipsum Dolor id ut dolor cupidatat in aliqua ad laborum commodo aliquip in ut aliqua pariatur ea sit pariatur veniam do. Lorem ipsum In quis ut qui ea sed id id anim enim veniam ullamco irure velit ut cillum.</p>
                        <p>Lorem ipsum Magna aliqua id fugiat Duis veniam sit ad ut incididunt labore magna labore eu in dolor fugiat sunt deserunt sint eiusmod magna veniam. Lorem ipsum Ad enim occaecat minim occaecat.</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="service-item-icon hidden-xs text-center">
                            <i class="fa fa-15x fa-users"></i>
                        </div>
                    </div>
                </section> <!-- service-item -->
            </div> <!-- row -->
        </section>
    </div> <!-- container -->

{% endblock %}